@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{font-family: 'MDGaesung'; src:url(../font/MDGaesung.ttf) format('truetype');}
@import url(//db.onlinewebfonts.com/c/ecc652fb9c14562310d166f11a2c64de?family=MDGaesung);

*{margin: 0px; padding: 0px; ;}
li{list-style:none;}
a{text-decoration: none; color: black; cursor:pointer;}

/**헤더 GNB**/
.head_box{width: 1000px; margin: 0 auto; }
.head_gnb{height:20px; }
.gnb{float: right; font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 500; }
.gnb a:hover{color: red; text-decoration: underline;}
.gnb li{float: left; margin-right: 10px; }
.gnb li::before{content: "|"; padding-right:10px; color: #999999;}
.gnb li:first-child::before{content: none;}
.gnb > li > a{color: #333333;}
.logo img{max-width: 100%;}
.logo_text{display: inline-block; vertical-align: 10px; font-family: MDGaesung; font-size: 1.875rem;}
.head_menu{width: 760px; font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; display: inline-block; text-align: center; }
.menu{}
.menu li{display: inline-block; margin-right: 8.5%; }
.menu > li > a{color: #333333;}
/**헤더 GNB 끝**/