@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{font-family: 'MDGaesung'; src:url(../font/MDGaesung.ttf) format('truetype');}

*{margin: 0px; padding: 0px; ;}
#wrap{width:100%;}
li{list-style:none;}
a{text-decoration: none; color: black;}

.slide{width: 100%; height: 1060px; position: absolute; overflow: hidden; z-index: -1;}
.slide_bg{position: absolute; width: 300%; height: 1060px;}
.slide_bg > ul{width: 100%;}
.slide_bg > ul > li{width: 33.333333333%; height: 1060px; float: left;}
.slide_bg > ul > li:nth-child(1){background:url("../images/headbg.png") center center / cover no-repeat; background-position: right;}
.slide_bg > ul > li:nth-child(2){background:url("../images/headbg2.png") center center / cover no-repeat; background-position: right;}
.slide_bg > ul > li:nth-child(3){background:url("../images/headbg3.png") center center / cover no-repeat; background-position: right;}

.left{cursor: pointer;}
.right{cursor: pointer;}
.pick{width: 20px; height: 20px; border-radius: 100%; background-color: #fb8e45; cursor: pointer;}
.btn{width: 20px; height: 20px; border-radius: 100%; background-color: #cccccc; cursor: pointer;}

.header{width: 100%; height: 1060px;}
/**헤더 GNB**/
.head_box{width: 1000px; margin: 0 auto; }
.head_gnb{height:20px; }
.gnb{float: right; font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 500; }
.gnb a:hover{color: red; text-decoration: underline;}
.gnb li{float: left; margin-right: 10px; }
.gnb li::before{content: "|"; padding-right:10px; color: #999999;}
.gnb li:first-child::before{content: none;}
.gnb > li > a{color: #333333;}
.logo img{max-width: 100%;}
.logo_text{display: inline-block; vertical-align: 10px; font-family: MDGaesung; font-size: 1.875rem;}
.head_menu{width: 760px; font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; display: inline-block; text-align: center; }
.menu{}
.menu li{display: inline-block; margin-right: 8.5%; }
.menu > li > a{color: #333333;}
.menu_dropdown{display: none;}
/**헤더 GNB 끝**/

.main_box{width: 1000px; margin: 0 auto;}
.main_text{margin-top: 15%; margin-left: 60px;}
.text1{font-family: Noto Sans KR; font-size: 6.875rem; font-weight: 700; color: #333333; }
.text2{font-family: Noto Sans KR; font-size: 2.25rem; font-weight: 500; color: #333333; }
.main_btn{display: inline-block; margin-top: 65px; margin-left: 200px;}
.main_btn li{float: left; margin-right: 10px;}
.main_contents{margin-top: 115px; width: 756px; height: 215px; overflow: hidden;}
.main_contents > ul{width: 1260px; margin-left: -252px;}
.main_contents > ul > li{float: left;}
.main_conbox{margin-right: 50px; margin-top: 10px;}
.main_imgbox{width: 200px; height: 155px;}
.main_textbox{width: 200px; height: 46.5px; border: solid 1px white; box-shadow: 1px 2px 3px #aaaaaa; text-align: center; line-height: 45px;
    font-family: Noto Sans KR; font-size: 18px; font-weight: 400; color: #666666; background-color: white;}

.main_top{width: 100%; height: 580px; position: relative; padding-top: 20px;}
.main_topcontents{width: 100%; height: 508px; position: relative; z-index: 30;}
.main_topcontents img{max-width: 45%; height: 508px; float: left;}
.top_textbox{width: 55%; float: left;}
.top_textbox p{margin-bottom: 20px;}
.top_mini{width: 550px;}
.top_minibox{width: 35px; height: 90px; border: 3px solid #bb97ce; border-radius: 5px; margin-left: 88%; margin-top: 7%;}
.top_text1{font-family: Noto Sans KR; font-size: 1.875rem; font-weight: 500; margin-left: 12%;}
.top_text2{font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 400; margin-top: 80px; margin-left: 12%;}
.main_topbg{width: 70%; height: 500px; position: absolute; background-color: #f9f7f7; top: 13%; left: 30%; z-index: 10;}
.main_function{width: 270px; height: 130px; background-color: #bb4efc; position: absolute; z-index: 20; top:1588px;
    text-align: center; line-height: 130px; font-family: Noto Sans KR; font-size: 1.5rem; font-weight: 700; color: white;}

.main_mid{width: 1000px; height: 370px; margin: 0 auto;}
.main_midbox{width: 33.55%; height: 370px; border-right: 2px solid #999999; float: left;}
.main_midbox3{width: 32%; height: 370px; float: left;}
.mid_contents{margin-top: 110px; margin-left: 20px;}
.mid_imgbtn{margin-left: 150px;}
#mid_btn2{margin-left: 177px;}
.mid_text01{font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; margin-top: 12px;}
.mid_text02{font-family: Noto Sans KR; font-size: 0.75rem; font-weight: 400; color: #666666; margin-top: 40px;}

.main_bottom{width: 100%;}
.bottom_topbox{height: 407px;}
.bottom_bg{position: absolute; max-width: 70%; height: 407px;}
.bottom_contents{width: 1000px; margin: 0 auto;}
.bottom_infobox{width: 325px; height: 407px; background-color: #864ea7; float: right; position: relative;}
.bottom_infotop{margin-top: 40px;}
.info_img{margin-left: 7px;}
.info_img768{display: none;}
.bottom_infotext{width: 170px; float: right; font-family: Noto Sans KR; color: white; font-size: 0.875rem; font-weight: 400;
    margin-top: 10px; margin-right: 20px;}
.bottom_infotext p{float: right;}
.bottom_infotext p span{font-size: 0.75rem;}
.info_text01{font-weight: 500;}
.info_text02{font-size: 1.875rem; font-weight: 700;}
.info_bottom{font-family: Noto Sans KR; font-size: 4.375rem; font-weight: 500; color: #e7c5fc; line-height: 120%; margin-top: 62px;}
.bottom_noticebox{width: 675px; height: 125px; background-color: white; position: relative; float: right; margin-top: 282px;}
.notice_text{float: left; line-height: 125px; font-family: Noto Sans KR; font-size: 1.5rem; font-weight: 700; margin-left: 35px;}
.notice_text span{font-size: 0.875rem; font-weight: 400;}
.notice_btn{width: 107px; height: 35px; border: 3px solid black; border-radius: 500px; text-align: center; line-height: 32px;
    font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 400; color: #333333; float: right; margin-top: 43px; margin-right: 30px;}
.bottom_botbox{width: 1000px; height: 230px; margin: 0 auto; background-color: #f7f7f7;}
.bot_text{ float: left; font-family: Noto Sans KR; font-size: 1.25rem; font-weight: 500; margin-top: 50px; margin-left: 33px;}
.bot_text p{font-size: 0.875rem; font-weight: 400; color: #999999; margin-top: 25px;}
.map768{display: none;}
.map768_text{display: none;}
.map480{display: none;}
.map{float: right; }
.map_text{height: 230px; position: absolute; margin-left: 688px; margin-top: 15px;
    font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 700; color: #f3f3f9;}
.map_text p{font-size: 0.75rem; font-weight: 400; margin-top: 145px;}
.bottom_saybox{width: 100%; height: 213px; font-family: Noto Sans KR;}
.bot_saytop{width:1000px; height: 50px; margin: 0 auto; line-height: 50px; font-size: 1.125rem; font-weight: 500; }
.bot_saytop > span{margin-left: 33px;}
.say_left{margin-left: 750px; margin-right: 20px; cursor: pointer;}
.say_right{cursor: pointer; margin: 0 -5px;}
.bot_saytextbox{width: 1000px; height: 160px; margin: 0 auto; overflow: hidden;}
.bot_saytextbox > ul{width:3000px; margin-left:-1000px;}
.bot_saytextbox > ul > li{float:left; width:1000px;}
.bot_saytextbox > ul > li > div{font-size: 0.875rem; font-weight: 400;}
.bot_saytextbox > ul > li > div > p{font-weight: 500; margin-bottom: 20px;}
.bot_say01{margin-left: 40px; float: left;}
.bot_say02{margin-left: 90px; float: left;}

.footer{width: 100%; height: 120px; background-color: #38393a; }
.footer_gnbbox{width: 1000px; margin: 0 auto;}
.footer_gnb{text-align: center; font-family: Noto Sans KR; font-size: 1rem; font-weight: 400; color: white; line-height: 75px;}
.footer_gnb a{color: white;}
.footer_gnb a:hover{}
.footer_gnb li{display: inline; margin-right: 30px;}
.footer_gnb li::before{content: "|"; margin-right: 30px;}
.footer_gnb li:first-child::before{content: none;}
.footer_gnbbox p{text-align: center; font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 400; color: white;}

@media all and (max-width:1016px){
    .slide{width: 100%; height: 1060px; position: absolute; overflow: hidden; z-index: -1;}
    .slide_bg{position: absolute; width: 300%; height: 1060px;}
    .slide_bg > ul{width: 100%;}
    .slide_bg > ul > li{width: 33.333333333%; height: 1060px; float: left;}
    .slide_bg > ul > li:nth-child(1){background:url("../images/headbg.png") center center / cover no-repeat; background-position: right;}
    .slide_bg > ul > li:nth-child(2){background:url("../images/headbg2.png") center center / cover no-repeat; background-position: right;}
    .slide_bg > ul > li:nth-child(3){background:url("../images/headbg3.png") center center / cover no-repeat; background-position: right;}

    /**헤더 GNB**/
    .head_box{width:768px; margin: 0 auto;}
    .gnb{float: right; font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 500; margin-right: 30px; }
    .gnb a:hover{color: red; text-decoration: underline;}
    .gnb li{float: left; margin-right: 10px; }
    .gnb li::before{content: "|"; padding-right:10px; color: #999999;}
    .gnb li:first-child::before{content: none;}
    .gnb > li > a{color: #333333;}
    .logo{display: inline-block; animation-name: move; animation-duration: 1s; animation-fill-mode: forwards;}
    @keyframes move{
        0% {transform: translate(0);}
        to{transform: translate(270px);}
    }
    .logo img{max-width: 100%; }
    .logo_text{display: inline-block; vertical-align: 10px; font-family: MDGaesung; font-size: 1.875rem;}
    .head_menu{width: 0px; margin-left: 20px; display: block;}
    .menu{float: left; position: absolute; width: 728px; display: none;}
    .menu li{width: 726px; height: 45px; border: 1px solid #dddddd; background-color: white; margin-right: 0px;
        font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; line-height: 45px;}
    .menu > li > a{color: #767676; display: block;}
    .dropdown_box{width: 728px; height: 45px; cursor: pointer; }
    .menu_dropdown{display: block; width: 676px; height: 45px; border: 1px solid #dddddd; background-color: white; float: left;
        font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500px; color: #767676; line-height: 45px;}
    .menu_dropdown > p{margin-left: 52px;}
    .menu_ham{width: 48px; height: 45px; border: 1px solid #dddddd; background-color: white; display: inline-block; position: relative; transition: all .4s;}
    .menu_ham > span{width: 25px; height: 2px; background-color: #777777; border-radius: 4px; position: absolute; left: 25%; margin-top: 12px; transition: all .4s;}
    .ham2{top:10px;}
    .ham3{top:20px;}
    .menu_ham.active .ham1 {-webkit-transform: translateY (10px) rotate (-45deg); transform: translateY(10px) rotate(-45deg);} 
    .menu_ham.active .ham2 {opacity: 0;}
    .menu_ham.active .ham3 {-webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg);}
    /**헤더 GNB 끝**/
    
    .main_box{width: 768px; margin: 0 auto;}
    .main_btn{display: none;}
    .main_text{margin-left: 2%; margin-top: 205px; }
    .text1{font-family: Noto Sans KR; font-size: 5.625rem; font-weight: 700; color: white; }
    .text2{font-family: Noto Sans KR; font-size: 2.25rem; font-weight: 500; color: white; }
    .main_contents{display: none;}
    
    .top_mini{width: 0px; visibility: hidden;}
    .top_text1{font-family: Noto Sans KR; font-size: 1.875rem; font-weight: 500; margin-left: 7%;}
    .top_text2{font-family: Noto Sans KR; font-size: 1rem; font-weight: 400; margin-top: 80px; margin-left: 7%;}
    
    .main_mid{width: 768px; height: 230px; margin: 0 auto;}
    .main_midbox{width: 36%; height: 230px; border-right: 0px solid #999999; float: left; margin-left: 5px;}
    .main_midbox3{width: 26%; height: 230px;}
    .mid_contents{margin-top: 110px; margin-left: 0px;}
    .mid_imgbtn{margin-left: 70px;}
    #mid_btn2{margin-left: 80px;}
    .mid_text01{font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; margin-top: 0px;}
    .mid_text02{font-family: Noto Sans KR; font-size: 0.75rem; font-weight: 400; color: #666666; margin-top: 40px; display: none;}
    
    .bottom_topbox{height: 230px; display: inline;}
    .bottom_bg{position: absolute; max-width: 70%; height: 407px; display: none;}
    .bottom_contents{width: 768px; margin: 0 auto;}
    .bottom_infotop{margin-top: 20px; width: 768px; }
    .bottom_infobox{width: 435px; height: 230px; background-color: #864ea7; float: none;}
    .info_img{display: none;}
    .info_img768{display: inline-block; margin-left: 7px; margin-top: 20px; float: left;}
    .bottom_infotext{width: 170px; float: none; display: inline-block; font-family: Noto Sans KR; color: white; font-size: 0.875rem; font-weight: 400;
        margin-top: 20px; margin-right: 0px; margin-left: 55px; position: absolute;}
    .bottom_infotext p{float: right;}
    .bottom_infotext p span{font-size: 0.75rem;}
    .info_text01{font-weight: 500;}
    .info_text02{font-size: 1.875rem; font-weight: 700;}
    .info_bottom{font-family: Noto Sans KR; font-size: 3rem; font-weight: 500; color: #e7c5fc; margin-top: 0px; line-height: 40px; width: 425px;
        position: absolute; margin-top: 180px;}
    .map768{display: block; float: right; }
    .map768_text{display: block; position: absolute; width: 300px; margin-left: 445px; margin-top: 15px;
        font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 700; color: #f3f3f9;}
    .map768_text > p{font-size: 0.75rem; font-weight: 400; margin-top: 140px;}
    .bottom_noticebox{width: 768px; height: 100px; background-color: white; position: relative; margin-top: 0px; margin: 0 auto; float: none;}
    .notice_text{float: left; line-height: 125px; font-family: Noto Sans KR; font-size: 1.5rem; font-weight: 700; margin-left: 20px;}
    .notice_text span{font-size: 0.875rem; font-weight: 400;}
    .notice_btn{width: 107px; height: 35px; border: 3px solid black; border-radius: 500px; text-align: center; line-height: 32px; 
        font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 400; color: #333333; float: right; margin-top: 43px; margin-right: 30px;}
    .bottom_botbox{width: 768px; height: 200px; margin: 0 auto; background-color: #f7f7f7; display: block;}
    .bot_text{ float: left; font-family: Noto Sans KR; font-size: 1.25rem; font-weight: 500; margin-top: 0px; margin-left: 20px;}
    .bot_text p{font-size: 0.875rem; font-weight: 400; color: #999999; margin-top: 25px;}
    .map{position: absolute; display: none;}
    .map_text{display: none;}
    
    .bottom_saybox{display: none;}

    .footer_gnbbox{width: 768px; margin: 0 auto;}

}
@media all and (max-width:767px){
    .slide{width: 100%; height: 670px; position: absolute; overflow: hidden; z-index: -1; margin-top: 150px;}
    .slide_bg{position: absolute; width: 300%; height: 670px;}
    .slide_bg > ul{width: 100%;}
    .slide_bg > ul > li{width: 33.333333333%; height: 670px; float: left;}
    .slide_bg > ul > li:nth-child(1){background:url("../images/480bg.png") center center / cover no-repeat; background-position: center;}
    .slide_bg > ul > li:nth-child(2){background:url("../images/480bg2.png") center center / cover no-repeat; background-position: center;}
    .slide_bg > ul > li:nth-child(3){background:url("../images/480bg3.png") center center / cover no-repeat; background-position: center;}
    
    .header{width: 100%; height: 670px;}
     /**헤더 GNB**/
    .head_box{width:480px; height: 157px; margin: 0 auto;}
    .gnb{float: right; font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 500; margin-right: 0px; }
    @keyframes move{
        0% {transform: translate(0);}
        to{transform: translate(125px);}
    }
    .head_menu{width: 0px; margin-left: 8px; display: block;}
    .menu{width: 465px; float: left; position: absolute;}
    .menu li{width: 463px; height: 45px; border: 1px solid #dddddd; background-color: white; margin-right: 0px;
        font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; line-height: 45px;}
    .dropdown_box{width: 465px; height: 45px; cursor: pointer; }
    .menu_dropdown{display: block; width: 413px; height: 45px; border: 1px solid #dddddd; background-color: white; float: left;
        font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500px; color: #767676; line-height: 45px;}
    .menu_ham{width: 48px; height: 45px; border: 1px solid #dddddd; background-color: white; display: inline-block; position: relative; transition: all .4s;}

    /**헤더 GNB 끝**/
    
    .main_box{display: none;}
    
    .main_top{width: 100%; height: 270px; position: relative; padding-top: 50px; margin-top: 150px;}
    .main_topcontents{width: 100%; height: 0px; position: relative; z-index: 30;}
    .main_topcontents img{display: none;}
    .top_textbox{width: 480px; float: none; margin: 0 auto; text-align: center;}
    .top_textbox p{margin-bottom: 10px;}
    .top_mini{display: none;}
    .top_text1{font-family: Noto Sans KR; font-size: 1.875rem; font-weight: 500; margin-left: 0; margin-top: 0px;}
    .top_text2{font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 400; margin-top: 40px; margin-left: 0%;}
    .main_topbg{width: 100%; height: 320px; position: absolute; background-color: #f9f7f7; top: 0%; left: 0%; z-index: 10;}
    
    .main_function{width: 480px; height: 25px; background-color: white; position: relative; z-index: auto; top:0px; margin-bottom: 60px;
    text-align: center; line-height: 25px; font-family: Noto Sans KR; font-size: 1.5rem; font-weight: 700; color: black;}

    .main_mid{width: 480px; height: 795px; margin: 0 auto; margin-top: 25px;}
    .main_midbox{width: 285px; height: 250px; border-right: 0px; float: none; margin: 0 auto;}
    .main_midbox3{width: 285px; height: 250px; float: none; margin: 0 auto;}
    .mid_contents{margin-top: 0px; margin-left: 0px;}
    .mid_imgbtn{margin-left: 147px;}
    #mid_btn2{margin-left: 177px;}
    #mid_btn3{margin-left: 169px;}
    .mid_text01{font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 500; margin-top: 12px;}
    .mid_text02{font-family: Noto Sans KR; font-size: 0.75rem; font-weight: 400; color: #666666; margin-top: 40px; display: block;}
    
    .bottom_topbox{height: 460px; display: inline;}
    .bottom_bg{display: none;}
    .bottom_contents{width: 483px; height: 460px; margin: 0 auto;}
    .bottom_infotop{margin-top: 0px; width: 480px; height: 230px;}
    .bottom_infobox{width: 480px; height: 230px; background-color: #864ea7; float: none;}
    .info_img{display: none;}
    .info_img768{display: inline-block; margin-left: 7px; margin-top: 20px; float: left;}
    .bottom_infotext{width: 170px; float: none; display: inline-block; font-family: Noto Sans KR; color: white; font-size: 0.875rem; font-weight: 400;
        margin-top: 20px; margin-right: 0px; margin-left: 95px; position: relative;}
    .bottom_infotext p{float: right;}
    .bottom_infotext p span{font-size: 0.75rem;}
    .info_text01{font-weight: 500;}
    .info_text02{font-size: 1.875rem; font-weight: 700;}
    .info_bottom{font-family: Noto Sans KR; font-size: 3.375rem; font-weight: 500; color: #e7c5fc; margin-top: 0px; width: 480px; height: 55px;
        line-height: 45px; position: relative; margin-top: 0px; display: inline-block; text-align: center;}
    
    .map768{display: none;}
    .map480{display: inline; float: left;}
    .map768_text{display: block; position: absolute; width: 300px; margin-left: 10px; margin-top: 0px;
        font-family: Noto Sans KR; font-size: 1.125rem; font-weight: 700; color: #f3f3f9;}
    .map768_text > p{font-size: 0.75rem; font-weight: 400; margin-top: 160px;}
    .bottom_noticebox{width: 480px; height: 65px; background-color: white; position: relative; margin-top: 0px; margin: 0 auto; float: none;}
    .notice_text{float: left; line-height: 65px; font-family: Noto Sans KR; font-size: 1.5rem; font-weight: 700; margin-left: 10px;}
    .notice_text span{font-size: 0.875rem; font-weight: 400;}
    .notice_btn{width: 107px; height: 35px; border: 3px solid black; border-radius: 500px; text-align: center; line-height: 32px; 
        font-family: Noto Sans KR; font-size: 0.875rem; font-weight: 400; color: #333333; float: right; margin-top: 12px; margin-right: 10px;}
    .bottom_botbox{width: 480px; height: 170px; margin: 0 auto; background-color: #f7f7f7; display: block;}
    .bot_text{ float: left; font-family: Noto Sans KR; font-size: 1.25rem; font-weight: 500; margin-top: 20px; margin-left: 20px;}
    .bot_text p{font-size: 0.75rem; font-weight: 400; color: #999999; margin-top: 15px;}

    .footer_gnbbox{width: 480px; margin: 0 auto;}

    .footer_gnb li{display: inline; margin-right: 25px;}
    .footer_gnb li::before{content: "|"; margin-right: 30px;}
}
